@{
  Layout = "_Layout";
}

@model Shop.Models.Treat

<h2>Add a flavor</h2>

<h4>Add a flavor to this treat: @Html.DisplayFor(m => m.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(t => t.TreatId)

  <p>@Html.Label("Select flavor"): @Html.DropDownList("FlavorId")</p>

  <input type="submit" value="Save" class="btn btn-default" />
}

<div class="links">
  <p>@Html.ActionLink("Back to list", "Index")</p>
</div>