@{
  Layout = "_Layout";
}

@model Shop.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(m => m.Type): @Html.DisplayFor(m => m.Type)</h3>

@if (@Model.FlavorTreats.Count == 0)
{
  <p>This flavor does not have any treats yet!</p>
}
else
{
  <h4>This flavor has (can be tasted in) the following treats:</h4>
  <ul>
  @foreach (FlavorTreat ft in Model.FlavorTreats)
    {
      <li>Treat: @ft.Treat.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Flavors"))
      {
        @Html.Hidden("ftId", ft.FlavorTreatId)
        <input type="submit" value="Delete" class="btn btn-default" />
      }
    }
  </ul>
}

<div class="links">
  <p>@Html.ActionLink("Back to list", "Index")</p>
  <p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
  <p>@Html.ActionLink("Add a treat to this flavor", "AddTreat", new { id = Model.FlavorId })</p>
  <p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
</div>